<%@ Master Language="C#" %>

<!DOCTYPE html>

<script runat="server">

</script>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    
        <div class="banner">Asp.Net Web Forms Demo</div>
        <div class="menu">
            <a href="addphoto.aspx">Add photo</a>
            <a href="page1.aspx">Page1</a>
        </div>

        <p></p>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    
</body>
</html>
