body {
}

.banner { 
    color:white;
    background-color :red;
    font-size:20pt;
    font-weight :bold;
    font-family : Arial;
}


.menu {
    color: white;
    background-color: darkgray;
    font-size: 12pt;
    font-weight: bold;
    font-family: verdana;
}

